export S3_ACCESS_KEY_ID=$(cat $HOME/projects/hayloft/aws-s3-access-key-id.txt)
export S3_SECRET_ACCESS_KEY=$(cat $HOME/projects/hayloft/aws-s3-secret-access-key.txt)
export PATH=$HOME/src/libs3-2.0/build/bin:$PATH
